<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestor">
   <application
        android:label="gestor"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
       <meta-data
           android:name="com.google.android.geo.API_KEY"
           android:value="AIzaSyDKmbywF7XdgUI3LWJ0-c83-tSaEl5EqPU" />
       <meta-data
           android:name="com.google.firebase.messaging.default_notification_channel_id"
           android:value="notificacoes_padrao" />
    </application>

    <!-- Sem isso, o Android 11+ (API 30+) esconde por padrão a
         visibilidade de outros apps por questão de privacidade — o
         url_launcher usa canLaunchUrl() pra checar antes de abrir, e sem
         essas declarações ele sempre retorna false (silenciosamente, sem
         erro nenhum) pra WhatsApp (https), e-mail (mailto), ligação (tel)
         e mapa (geo), mesmo com os apps de verdade instalados. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>
</manifest>
